name: Deploy Chalice to AWS

on:
  push:
    branches:
      - main  # Déclencher le workflow uniquement sur la branche `prod`

jobs:
  deploy:
    name: Deploy Chalice App
    runs-on: ubuntu-latest

    steps:
      # Étape 1 : Checkout le code source
      - name: Checkout repository
        uses: actions/checkout@v3

      # Étape 2 : Configuration de Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'  # Utilisez la version Python compatible avec Chalice

      # Étape 3 : Installer les dépendances
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install chalice

      # Étape 4 : Configurer AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'eu-central-1'  # Remplacez par la région de votre application Chalice

      # Étape 5 : Déployer l'application Chalice
      - name: Deploy Chalice app
        run: chalice deploy
